<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8rS8fmPPYcn09Kpj8DoiSvqwPRAB7eWw</string>
	<key>GCM_SENDER_ID</key>
	<string>963309894848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antoimn.Ghosted</string>
	<key>PROJECT_ID</key>
	<string>ghosted-b0b7d</string>
	<key>STORAGE_BUCKET</key>
	<string>ghosted-b0b7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963309894848:ios:cf67f23aa3b1ad9b9bc125</string>
</dict>
</plist>